<div id="body" class="row">
  <div class="col-md-5">
    <h1>Viajes</h1>
    <p id="box">
       <b id="titleBox"> Id del usuario: </b>  <br>
        <input type="text" [(ngModel)]="userId" name="userId" ><br>
    </p>
    <p id="buttonContent">
     <button id="button" (click)="buscar()" type="button">Buscar</button>
   </p>
    <ul class="list-group">
        <div id="tripBox" class="list-group-item"
          *ngFor="let trip of trips">
          <b>passenger</b> : {{trip.passenger}} <br/>
          <b>driver</b> : {{trip.driver}} <br/>
          <b>Id</b>: {{trip.id}} <br/>
          <b>Currency</b>: {{trip.cost.currency}} <br/>
          <b>Cost</b>: {{trip.cost.value}} <br/>
          <b>Direccion de inicio</b>: {{trip.start.address.street}} <br/>
          <b>Direccion de fin</b>: {{trip.end.address.street}} <br/>
        </div>
    </ul>


    <h2> {{lastTripsMessage}} </h2>
    <ul class="list-group">
        <div id="tripBox" class="list-group-item"
          *ngFor="let lasttrip of lastTrips">
          <b>passenger</b> : {{lasttrip.passenger}} <br/>
          <b>driver</b> : {{lasttrip.driver}} <br/>
          <b>Id</b>: {{lasttrip.id}} <br/>
          <b>Currency</b>: {{lasttrip.cost.currency}} <br/>
          <b>Cost</b>: {{lasttrip.cost.value}} <br/>
          <b>Direccion de inicio</b>: {{lasttrip.start.address.street}} <br/>
          <b>Direccion de fin</b>: {{lasttrip.end.address.street}} <br/>
        </div>
    </ul>

  </div>
</div>
