
  <h1> Llevame! </h1>

<h2> Buscar usuario por id </h2>
  <input type="text" [(ngModel)]="userId" name="userId" ><br>
  <button id="button" (click)="buscarUser()"  type="button">Buscar</button>

<div class="row">
  <div class="col-md-5">
    <h2>Usuarios de la aplicacion</h2>

    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let user of users; let i = index">
        <b> Id:  </b> {{user.id}}  <button id="button" (click)="deleteUser(i)"  type="button">Borrar</button> <br/>
        <b> Nombre : </b> {{user.firstname}} <br/>
        <b> Apellido:  </b> {{user.lastname}} <br/>
        <b> Nombre de usuario:  </b> {{user.username}} <br/>
        <b> Tipo:  </b> {{user.type}} <br/>
        <b> Email:  </b> {{user.email}} <br/>
        <b> Fecha de nacimiento:  </b> {{user.birthdate}} <br/>
      </li>
    </ul>
  </div>
</div>
